<div class="flowPanel" data-idBlock="databases">
    <p>Your credentials are always encrypted using the password you used when you registered which is itself encrypted in our system. We and no one else but you can display or use these credentials to make queries. We cannot retrieve your credentials even if you were to ask us. For any case of forgotten credentials please contact your database provider.</p>
    <center><b><a href="/security" alt="Security and Synchronise.IO">Learn more about the security methods implemented</a></b></center>
	<hr/>
    <div id="databaseList" class="row"></list>
</div>
