<div role="tabpanel" class="tab-pane fade in" id="desktop">
    <ul class="nav nav-tabs inside-nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#c" aria-controls="c" role="tab" data-toggle="tab">C</a></li>
        <li role="presentation"><a href="#cplusplus" aria-controls="cplusplus" role="tab" data-toggle="tab">C++</a></li>
        <li role="presentation"><a href="#java" aria-controls="java" role="tab" data-toggle="tab">Java</a></li>
        <li role="presentation"><a href="#csharpdesktop" aria-controls="csharpdesktop" role="tab" data-toggle="tab">C#</a></li>
        <li role="presentation"><a href="#objectivecdesktop" aria-controls="objectivecdesktop" role="tab" data-toggle="tab">Objective C</a></li>
        <li role="presentation"><a href="#python" aria-controls="python" role="tab" data-toggle="tab">Python</a></li>
        <li role="presentation"><a href="#ruby" aria-controls="ruby" role="tab" data-toggle="tab">Ruby</a></li>
    </ul>
    
    <div class="col-xs-12">
        <br/>
    </div>

    <div class="col-xs-12">
        <div role="tabpanel">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active code fade in" id="c">
                    <pre>C</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="cplusplus">
                    <pre>C++</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="java">
                    <pre>Java</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="csharpdesktop">
                    <pre>C#</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="objectivecdesktop">
                    <pre>Objective C</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="python">
                    <pre>Python</pre>
                </div>
                
                <div role="tabpanel" class="tab-pane code fade in" id="ruby">
                    <pre>Ruby</pre>
                </div>
            </div>
        </div>
    </div>
</div>