<div role="tabpanel" class="tab-pane fade in" id="mobile">
    <ul class="nav nav-tabs inside-nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#swift" aria-controls="swift" role="tab" data-toggle="tab">Swift (iOS)</a></li>
        <li role="presentation"><a href="#objectivec" aria-controls="objectivec" role="tab" data-toggle="tab">Objective C (iOS)</a></li>
        <li role="presentation"><a href="#android" aria-controls="android" role="tab" data-toggle="tab">Java (Android)</a></li>
        <li role="presentation"><a href="#csharp" aria-controls="csharp" role="tab" data-toggle="tab">C# (Windows Phone)</a></li>
        <li role="presentation"><a href="#visualbasic" aria-controls="visualbasic" role="tab" data-toggle="tab">Visual Basic (Windows Phone)</a></li>
        <li role="presentation"><a href="#blackberry" aria-controls="blackberry" role="tab" data-toggle="tab">Java (Blackberry)</a></li>
    </ul>
    
    <div class="col-xs-12">
        <br/>
    </div>

    <div class="col-xs-12">
        <div role="tabpanel">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active code fade in" id="swift">
                    <pre>Swift</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="objectivec">
                    <pre>Objective C</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="android">
                    <pre>Android</pre>
                </div>
                
                <div role="tabpanel" class="tab-pane code fade in" id="csharp">
                    <pre>C#</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="visualbasic">
                    <pre>Visual Basic</pre>
                </div>

                <div role="tabpanel" class="tab-pane code fade in" id="blackberry">
                    <pre>Blackberry</pre>
                </div>
            </div>
        </div>
    </div>
</div>