<% include ../template/header %>

	<div class="container" id="wrapper">
		<div class="row" align="center">
			<h1>Reset Your Password<span id='app'></span></h1>
			<noscript>We apologize, but resetting your password requires javascript</noscript>
			<div class='error' id='error'></div>
			
			<form id='form' action='#' method='POST'>
				<label>New Password for <span id='username_label'></span></label>
			    <input name="new_password" type="password" class="form-control" />
			    <input name='utf-8' type='hidden' value='✓' />
			    <input name="username" id="username" type="hidden" class="form-control" />
			    <input name="token" id="token" type="hidden" class="form-control" />
			    <button class="btn btn-default cbutton cbutton--effect-novak">Change Password</button>
			 </form>
		 </div>
	</div>

	<script language='javascript' type='text/javascript'>
		  <!--
		  window.onload = function() {
		    var urlParams = {};
		    (function () {
		        var pair, // Really a match. Index 0 is the full match; 1 & 2 are the key & val.
		            tokenize = /([^&=]+)=?([^&]*)/g,
		            // decodeURIComponents escapes everything but will leave +s that should be ' '
		            re_space = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); },
		            // Substring to cut off the leading '?'
		            querystring = window.location.search.substring(1);
		
		        while (pair = tokenize.exec(querystring))
		           urlParams[re_space(pair[1])] = re_space(pair[2]);
		    })();
		
		    var base = 'https://www.parse.com';
		    var id = urlParams['id'];
		    document.getElementById('form').setAttribute('action', base + '/apps/' + id + '/request_password_reset');
		    document.getElementById('username').value = urlParams['username'];
		    document.getElementById('username_label').appendChild(document.createTextNode(urlParams['username']));
		
		    document.getElementById('token').value = urlParams['token'];
		    if (urlParams['error']) {
		      document.getElementById('error').appendChild(document.createTextNode(urlParams['error']));
		    }
		    if (urlParams['app']) {
		      document.getElementById('app').appendChild(document.createTextNode(' for ' + urlParams['app']));
		    }
		  }
		  //-->
	</script>
	
<% include ../template/footer %>