<% include ../template/header %>

	<div class="container" id="wrapper">
		<div class="row" align="center">
			<i class="fa fa-check fa-6" style="font-size: 100px;"></i>
			
			<h1>Successfully verified your email!</h1>
		 </div>
	</div>
	
<% include ../template/footer %>