<% include ../template/header %>

	<div class="container" id="wrapper">
		<div class="row" align="center">
			<i class="fa fa-times-circle-o" style="font-size: 50px"></i>
			
			<h1>Invalid Link</h1>
		 </div>
	</div>
	
<% include ../template/footer %>