<% include template/header %>
<% include template/dashboard_side_menu %>
	<div class="container" id="wrapper">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">About Us
                    <small>The humans behind the machines</small>
                </h1>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Our Team</h2>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
				<h4>Founder</h4>
				<center><script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/reythibaut" data-format="inline" data-related="false"></script></center>
                <div class="col-xs-12" align="center">
					<a href="https://www.facebook.com/thibaut.rey"><i class="fa fa-facebook-square fa-2x"></i></a>
					<a href="https://www.twitter.com/thibautrey"><i class="fa fa-twitter-square fa-2x"></i></a>
					<a href="https://uk.linkedin.com/in/thibautreyfrench"><i class="fa fa-linkedin-square fa-2x"></i></a>
					<a href="https://www.f6s.com/thibautrey?follow=1" target="_blank" title="Follow Thibaut Rey on f6s"><img src="https://www.f6s.com/images/follow-grey.png" border="0" width="72" height="20 " alt="Follow Thibaut Rey on f6s" style="width: 72px; height: 20px; padding: 0px; margin: 0px;" /></a>
                </div>
            </div>

			<div class="col-lg-4 col-sm-6 text-center">
				<h4>Developers relationship</h4>
				<center><script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jeremieclos/en" data-format="inline" data-related="false"></script></center>
                <div class="col-xs-12" align="center">
					<a href="https://www.twitter.com/jeremieclos"><i class="fa fa-twitter-square fa-2x"></i></a>
					<a href="https://uk.linkedin.com/in/jeremieclos/en"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
            </div>
        </div>

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Legal
                </h1>
            </div>
        </div>

        <div class="col-md-6 col-xs-12" align="center">
            <b>Company name :</b> SYNCHRONISE IO LTD<br/>
            <b>Company number :</b> SC507708<br/>
            <b>Country :</b> Scotland<br/>
            <b>Applicable law :</b> Scottish law<br/>
            <b>Company type :</b> Private Limited by Shares
        </div>

        <div class="col-md-6 col-xs-12" align="center">
            <b>Address : </b><br/>
            Exchange Tower<br/>
            19 Canning Street<br/>
            Edinburgh<br/>
            EH3 8EH<br/>
            DX: ED27 Edinburgh<br/><br/>

            Email : contact@synchronise.io<br/>
            Website : www.synchronise.io
        </div>
    </div>
<% include template/footer %>
