<% include template/header %>
<% include template/dashboard_side_menu %>
	<div class="container-fluid" id="wrapper">
		<div class="col-xs-12" align="center">
			Blog coming soon...
		</div>
	</div>
<% include template/footer %>
