<% include template/header %>
	<% include template/dashboard_side_menu %>

	<div id="wrapper">
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-xs-12">
                        <div id="connect"></div>
                    </div>
                </div>
                <!-- /.row -->

				<hr/>
				<% include template/footer_content %>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
<% include template/footer %>
