<% include template/header %>
<% include template/dashboard_side_menu %>
    <br/><br/>
	<div class="container-fluid" id="wrapper">
		<div class="col-xs-12">
            <h1 class="page-header">Job offers
                <small>Be part of the Cloud revolution</small>
            </h1>
		</div>

        <div class="col-xs-12">
            <div id="f6s-jobs-56ae8313ceec0"></div><script type="text/javascript">var F6S_v1 = F6S_v1 || {}; F6S_v1.params = F6S_v1.params || []; F6S_v1.params.push({ type: 'widget', widgetType: 'organization-jobs', profileId: 'synchronise', containerId: 'f6s-jobs-56ae8313ceec0' });(function() { var st = document.createElement('script'); st.type = 'text/javascript'; st.async = true; st.src = 'https://www.f6s.com/system/js/widgets'; var ft = document.getElementsByTagName('script')[0]; ft.parentNode.insertBefore(st, ft); })();</script>
        </div>
	</div>
<% include template/footer %>
