<div class="col-xs-12">
    <b>Company name :</b> SYNCHRONISE IO LTD<br/>
    <b>Company number :</b> SC507708<br/>
    <b>Country :</b> Scotland<br/>
    <b>Applicable law :</b> Scottish law<br/>
    <b>Company type :</b> Private Limited by Shares
</div>

<div class="col-xs-12"><hr/></div>

<div class="col-xs-12">
    <b>Address : </b><br/>
    Exchange Tower<br/>
    19 Canning Street<br/>
    Edinburgh<br/>
    EH3 8EH<br/>
    DX: ED27 Edinburgh<br/><br/>
    
    Email : contact@synchronise.io<br/>
    Website : www.synchronise.io
</div>