<% include template/header %>
<% include template/dashboard_side_menu %>
    <br/><br/>
	<div class="container-fluid" id="wrapper">
		<div class="row-fluid">
            <div class="col-xs-12">
                <h2 class="page-header">Congratulations</h2>
                <center><h3>You Found Our 404 Error Page</h3></center>
    		</div>

            <center><img src="https://images.synchronise.io/404.png" alt="404 not found" class="img-responsive"></center>
        </div>
	</div>
<% include template/footer %>
