<div class="row-fluid bigBackground" id="dataSources" data-idBlock="dataSources">
    <h1 align="center">Select your data source</h1>
    <p align="center">In order to create a query you first need to tell us where the data are coming from.</p>
    
    <hr/>

    <div class="row-fluid">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default dataStoreType" data-type="sql">
                <div class="panel-heading">SQL</div>
                <div class="panel-body">
                    <img src="/images/mysql.png">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default dataStoreType" data-type="nosql">
                <div class="panel-heading">NoSQL</div>
                <div class="panel-body">
                    <img src="/images/mongo.png">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default dataStoreType" data-type="virtual">
                <div class="panel-heading">Virtual Database</div>
                <div class="panel-body">
                    <img src="/images/database.png">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="listDataStore" data-idBlock="listDataStore">
        <div class="col-lg-12 well" align="center">
            <svg version="1.1" class="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path><path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(354.324 20 20)"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"></animateTransform></path></svg>

            <div class="content">
                <ul class="list-inline"></ul>
                <div align="center" class="noDataStore">No databases found for this type. Please go to the <a href="/database">Database</a> page if you want to add a new one.</div>
            </div>

            <li class="hidden" id="dataStorePattern">
                <div class="panel" style="display: inline-block">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <img src="/images/sql.png" width="auto" height="55px">
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>

<div id="dataStoreTooltip">
    <div class="container-fluid hidden-xs">
        <div class="row-fluid">
            <div class="header">
                <div class="col-lg-8 title" align="left">
                    Database name
                </div>

                <div class="col-lg-4" align="right">
                    <button class="btn btn-xs btn-default refreshSchema cbutton cbutton--effect-novak">
                        <i class="fa fa-refresh"></i> Update schema
                    </button>
                </div>

                <div class="col-xs-12">
                    <br/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div id="topOfTooltipForContent" class="col-xs-12"></div>
        </div>

        <div class="row-fluid loading" align="center">
            <div class="col-xs-12">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path><path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                    C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(354.324 20 20)"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"></animateTransform></path></svg>
            </div>
        </div>

        <div class="row-fluid" align="center">
            <div class="col-lg-12 error">Error</div>
        </div>

        <div class="row-fluid content">
            <div class="col-lg-6 tables" align="left">
                <b>Tables</b><br/>
                <ul>
                    <li>user</li>
                </ul>
            </div>

            <div class="col-lg-6 fields" align="left">
                <b>Fields</b><br/>
                <ul>
                    <li>id</li>
                </ul>
            </div>
        </div>
    </div>
</div>