.itemRow:hover, .itemRow:hover input.form-control[readonly], .itemRow:hover input[type=text][readonly]{
    cursor: pointer;
    background-color: #1194F6!important;
    color: white;
}

.itemRow input::selection{
    text-shadow: -1px 0 rgba(0,0,0,0.4), 0 1px rgba(0,0,0,0.4), 1px 0 rgba(0,0,0,0.4), 0 -1px rgba(0,0,0,0.4);
    background: #DAB000;
    color: #FFF;
}

.project{
	margin-bottom: 30px;
	max-height: 165px;
	min-height: 165px;

    -webkit-transition : width 0.5s, word-break 1s, word-wrap 1s, transform 1s ease-in-out; /* Safari 3.1 to 6.0 */
	-moz-transition    : width 0.5s, word-break 1s, word-wrap 1s, transform 1s ease-in-out; /* Mozilla 4.0 to 16.0 */
	-o-transition      : width 0.5s, word-break 1s, word-wrap 1s, transform 1s ease-in-out; /* Opera 10.5 to 12.1 */
    transition         : width 0.5s, word-break 1s, word-wrap 1s, transform 1s ease-in-out;
}

.project .content{
	border-radius: 5px;
	color: #5a6b77;
	border: 1px solid transparent;
	padding: 10px;
	width: 100%;
	height: 100%;
	min-height: 150px;
	max-height: 150px;
    text-align: center;

    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

	-webkit-transition : border 0.3s, height 0.8s linear 0.5s, width 0.8s linear 0.5s; /* Safari 3.1 to 6.0 */
	-moz-transition    : border 0.3s, height 0.8s linear 0.5s, width 0.8s linear 0.5s; /* Mozilla 4.0 to 16.0 */
	-o-transition      : border 0.3s, height 0.8s linear 0.5s, width 0.8s linear 0.5s; /* Opera 10.5 to 12.1 */
    transition         : border 0.3s, height 0.8s linear 0.5s, width 0.8s linear 0.5s;
}

.project .content .isSharedRibbon:before{
	content: "";
    display: block;
    position: absolute;
    width:0;
    height: 0;
    bottom: 8px;
    left: -27px;

    width: 100px;
    height: 20px;

    text-align: center;
    -webkit-transform: rotateZ(225deg) rotateX(0deg);
    -moz-transform: rotateZ(0deg) rotateX(0deg);
	-ms-transform: rotateZ(0deg) rotateX(0deg);
	-o-transform: rotateZ(0deg) rotateX(0deg);
	transform: rotateZ(225deg) rotateX(0deg);

    /* Rhombus */
    border-width: 0 30px 30px 30px;
    border-style: solid;
    border-color: transparent transparent #3AE transparent;
}

.project .content .isSharedRibbon:after{
    display: block;
    position: absolute;
    content: "Shared";

    left: -17px;
    width: 90px;
    height: 45px;
    bottom: 5px;
    padding-top: 16px;
    background: transparent;

    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	transform: rotateZ(45deg);

    color: white;
    font-weight: bold;
    font-family: "Open Sans", sans-serif, "Raleway", Calibri, Arial;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,25,0.1);
}

.project.openedProject .content .isSharedRibbon:before{
    left: -52px;
    bottom: -2px;
}

.project.openedProject .content .isSharedRibbon:after{
    left: -40px;
    bottom: -5px;
}

.project .content:hover{
	border: 1px solid #2196f3;
}

.project .display{
    -webkit-animation-name: displayDBBlockFull;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: displayDBBlockFull;
    -moz-animation-duration: 0.3s;
    -moz-animation-fill-mode: forwards;

    -o-animation-name: displayDBBlockFull;
    -o-animation-duration: 0.3s;
    -o-animation-fill-mode: forwards;

    -ms-animation-name: displayDBBlockFull;
    -ms-animation-duration: 0.3s;
    -ms-animation-fill-mode: forwards;

    animation-name: displayDBBlockFull;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes displayDBBlockFull {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@-webkit-keyframes displayDBBlockFull {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}

@-ms-keyframes displayDBBlockFull {
    from {-ms-transform: scale(0);}
    to {-ms-transform: scale(1);}
}

@-moz-keyframes displayDBBlockFull {
    from {-moz-transform: scale(0);}
    to {-moz-transform: scale(1);}
}

@-o-keyframes displayDBBlockFull {
    from {-o-transform: scale(0);}
    to {-o-transform: scale(1);}
}

.project .content small{
    max-height: 20px;
	height: 20px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	-webkit-transition: opacity 0.3s; /* Safari 3.1 to 6.0 */
	-moz-transition: opacity 0.3s; /* Mozilla 4.0 to 16.0 */
	-o-transition: opacity 0.3s; /* Opera 10.5 to 12.1 */
    transition: opacity 0.3s;
}

/*.openedProject ~ .project{
    opacity: 0;
}*/

.project .content h3{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    padding-top: 20px;
}

.project i:hover{
	color: #2196f3;
}

.project .icon{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	margin-top: -65px!important;
	margin-left: -25px;
	position: absolute;
}

@media screen and (min-device-width: 481px) and (orientation:portrait), (orientation:landscape){
    .project .content .open{
        width: 50px;
        position: absolute;
        margin: auto;
        bottom: 20px;
        border: 1px solid #2196f3;
        border-radius: 5px;
        left: 0px;
        right: 0px;
        cursor: pointer;
    }
}

@media(min-width:768px){
    .project .content .open{
        width: 50px;
        position: absolute;
        margin: auto;
        bottom: 30px;
        border: 1px solid #2196f3;
        border-radius: 5px;
        left: 0px;
        right: 0px;
        cursor: pointer;
        opacity: 0;

        -webkit-transition: transform 0.3s; /* Safari 3.1 to 6.0 */
        -moz-transition: transform 0.3s; /* Mozilla 4.0 to 16.0 */
        -o-transition: transform 0.3s; /* Opera 10.5 to 12.1 */
        transition: transform 0.3s;

        -webkit-transition-delay: 0.2;
        -moz-transition-delay: 0.2;
        -o-transition-delay: 0.2;
        transition-delay: 0.2;

        -ms-transform: scale(0,0); /* IE 9 */
        -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
        -moz-transform: scale(0,0); /* Mozilla */
        -o-transform: scale(0,0); /* Mozilla */
        transform: scale(0,0);

		-webkit-transition: opacity 0.3s; /* Safari 3.1 to 6.0 */
		-moz-transition: opacity 0.3s; /* Mozilla 4.0 to 16.0 */
		-o-transition: opacity 0.3s; /* Opera 10.5 to 12.1 */
	    transition: opacity 0.3s;
    }
}

.project .content:hover > div small, .project .content:hover > div a{
	opacity: 0;
}

.project .content:hover > div .open{
	-ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
    -moz-transform: scale(1,1); /* Mozilla */
	-o-transform: scale(1,1); /* Mozilla */
    transform: scale(1,1);

    opacity: 1;
	display: block;
}

.project .content h3{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project .icon{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	margin-top: -65px;
	margin-left: -25px;
	position: absolute;
}

.project .amountOfItems{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid darkgray;
    border-radius: 100%;
    padding: 5px;
    font-size: 13px;
    color: #444444;
}

.openedProject{
    width: 100%;
    min-height: 200px;
    max-height: none;
    border: 1px solid transparent;
}

.openedProject:hover{
    border: 1px solid transparent!important;
}

.openedProject .content small, .openedProject .content a{
    display: none;
}

.openedProject .content h3{
    padding-top: 25px;
    margin-top: 0px
}

.openedProject .content table{
    margin-top: 20px;
}

.openedProject .content{
    min-height: 180px;
    max-height: none;
}

.openedProject .icon{
    margin-top: -45px!important;
    opacity: 1;
}

.openedProject .close{
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 13px;
}
