<div class="row-fluid bigBackground" data-idBlock="name">
    <p align="center">Let's give a nice name to your query. This name will help you to find back the query later, so be creative!</p>
    <hr/>
    <div class="form" id="nameQuery"></div>
</div>
