<div class="row-fluid bigBackground" id="ordering" data-idBlock="ordering">

    <div class="row">
        <div class="col-xs-12" align="center">
            <div class='queryFieldsLoading'>
                <div class='bullet'></div>
                <div class='bullet'></div>
                <div class='bullet'></div>
                <div class='bullet'></div>
            </div>
        </div>
    </div>

    <div class="form row-fluid">
        <div class="form-group searchField">
            <input type="text" class="form-control input-lg" placeholder="Type the name of a field that you have previously selected to display">
        </div>
    </div>

    <div class="row" id="fieldsOrdered" style="position: relative"></div>
</div>
