<div class="row-fluid bigBackground" data-idBlock="export" id="export">
    <h1 align="center">Export your query</h1>
    <hr/>

    <div class="row-fluid">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 exportMenu" data-target="exportLibraries">
            <div class="panel panel-default">
                <div class="panel-heading">Integrate in my app</div>
                <div class="panel-body">
                    <img src="https://images.synchronise.io/appLibrary.png" width="auto" height="55px">
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 exportMenu">
            <div class="panel panel-default">
                <div class="panel-heading">Create a Chart/Form</div>
                <div class="panel-body">
                    <img src="https://images.synchronise.io/barChart.png" width="auto" height="55px">
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 exportMenu">
            <div class="panel panel-default">
                <div class="panel-heading">Experiment in Playground</div>
                <div class="panel-body">
                    <img src="https://images.synchronise.io/playground.png" width="auto" height="55px">
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 exportMenu">
            <div class="panel panel-default">
                <div class="panel-heading">Display SQL/NoSQL code</div>
                <div class="panel-body">
                    <img src="https://images.synchronise.io/code.png" width="auto" height="55px">
                </div>
            </div>
        </div>
    </div>
    
    <% include query_export/export_libraries %>
</div>