<div id="updateProject">
	<div class="content">
		<div class="row-fluid">
		    <div class="col-xs-12">
		      	<i class="fa fa-times pull-right close"></i>
		    </div>

		    <div class="col-xs-12">
		      	<legend>Update Project</legend>
		    </div>
		</div>

		<div class="row-fluid">
		    <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
		    </div>

		    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
		      	<form>
		        	<div class="form-group iconGroup" align="center">
						<img src="/images/defaultProjectIcon.png" class="icon">
						<div class="editProjectIcon">Edit project icon</div>
						<input type="file" accept="image/x-png, image/gif, image/jpeg">
					</div>

					<div class="form-group">
						<label>Name</label>
						<input type="input" class="form-control name">
					</div>

					<div class="form-group">
						<label>Url</label>
						<input type="input" class="form-control url">
					</div>

					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control description">
						</textarea>
					</div>
				</form>
		    </div>

		    <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
		    </div>
		</div>

		<div class="row-fluid">
			<div class="col-xs-12" align="center">
				<button class="btn btn-danger updateRemoveProject cbutton cbutton--effect-novak">Remove project</button>
				<button class="btn btn-primary updateProjectValidate cbutton cbutton--effect-novak">Save project</button>
			</div>
		</div>
	</div>
</div>
