<% include ../template/header %>
<% include ../template/dashboard_side_menu %>
<style>
.navbar{
    position: absolute;
}
</style>
<div class="container-fluid" id="wrapper">
    <div id="devices">
        <i class="material-icons">watch</i>
        <i class="material-icons">phone_iphone</i>
        <i class="material-icons">tablet_mac</i>
        <i class="material-icons">computer</i>
        <i class="material-icons">desktop_mac</i>
        <i class="material-icons">memory</i>
    </div>

    <div id="docsTitleBlock">
        <div class="content">
            <span>Documentation</span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="sidebar">
            <% include navigation %>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" id="content">
            <% include client/client %>
        </div>
    </div>
</div>
<% include ../template/footer %>
