<% include ../template/header %>
<% include ../template/dashboard_side_menu %>
<div id="wrapper">
    <div class="container">
        <div class="device">
            <img src="/images/arduinoFull.png">
        </div>

        <div class="row-fluid">
            <div class="main"></div>
        </div>

        <div>
            <img src="/images/facebookFull.png" class="floatingElements">
            <img src="/images/spotifyFull.png" class="floatingElements">
            <img src="/images/twilioFull.png" class="floatingElements">
            <img src="/images/airbnbFull.png" class="floatingElements">
            <img src="/images/uberFull.png" class="floatingElements">
            <img src="/images/stripeFull.png" class="floatingElements">
            <img src="/images/coinbaseFull.png" class="floatingElements">
            <img src="/images/intercomFull.png" class="floatingElements">
            <img src="/images/mixpanelFull.jpg" class="floatingElements">
            <img src="/images/parseFull.png" class="floatingElements">
            <img src="/images/amazonFull.png" class="floatingElements">
        </div>
    </div>

    <div class="callToAction">
        <button class="btn btn-default loginSignupButton">Start creating the Internet of Things</button>
    </div>
</div>

<% include ../template/footer %>
