<footer style="margin-bottom: 10px">
    <div class="row" align="center">
        <div class="col-sm-6 hidden-xs" align="center">
            <a href="http://changelog.synchronise.io">Changelog</a> |
            <a href="/jobs">Jobs</a> |
            <a href="/about">Legal</a> |
            <a href="/license">Licenses & Copyrights</a>
        </div>

        <div class="col-xs-12 visible-xs" align="center">
            <a href="/jobs">Jobs</a><br/><br/>
            <a href="/about">Legal</a><br/><br/>
            <a href="/license">Licenses & Copyrights</a><br/><br/>
        </div>

        <div class="col-md-6 col-xs-12" align="center">
            <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </div>
    </div>
</footer>
