<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div id="headerBrand">
            <div class="navbar-header">
                <div class="hidden-xs" style="left:0px;top:0px;position:absolute;">
                    <img src="https://images.synchronise.io/synchroniseSquare.png" style="height:64px;margin-left:15px">
                </div>
                <div class="visible-xs" style="left:0px;top:0px;width:100%;position:absolute;text-align:center;">
                    <div class="visible-xs pull-left" style="position:absolute;top:17px;left:15px;">
                        <button class="loginSignupButton btn btn-xs btn-default">Login/Signup</button>
                    </div>
                    <a href="/">
                        <img src="https://images.synchronise.io/synchroniseSquare.png" style="height:64px;">
                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sde-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand hidden-xs" href="/"></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="sde-navbar-collapse">
            <div id="topMenu"></div>
            <div id="navBarRight"></div>
        </div>
    </div>
</nav>
