<% include ../template/header %>
<% include ../template/dashboard_side_menu %>
<div class="container-fluid" id="wrapper">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        In CloudFlow
    </div>
</div>
<% include ../template/footer %>
